body {
    background-color: whitesmoke;
}

.horizon {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    /* background-color: burlywood; */
}

.progressBar {
    width: 200px;
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

#button {
    margin: 0 auto;
    /* background-color: black; */
    text-align: center;
    padding: 20px;
}

#button input {
    background-color: whitesmoke;
    padding: 10px;
    color: red;
    border-radius: 10px;
    /* border: none; */
}
